<a href="https://colab.research.google.com/github/LuisPerdomo123/MachineLearning/blob/main/2_Introduccion_a_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción a Pandas

Pandas es una librería que proporciona estructuras de datos y herramientas de análisis de datos de alto rendimiento y fáciles de usar.



*   La estructura de datos principal es el DataFrame, que puede considerarse como una tabla 2D en memoria (como una hoja de cálculo, con nombres de columna y etiquetas de fila).
*   Muchas funciones disponibles en Excel están disponibles mediante programación, como crear tablas dinámicas, calcilar columnas basadas en otras columnas, trazar gráficos, etc.
*   Proporciona un alto rendimiento para manipular (unir, dividir, modificar...) grandes conjuntos de datos

## Import

In [1]:
import pandas as pd

## Estructura de datos en Pandas

La librería Pandas, de manera genérica, contiene las sigjuientes estructuras de datos:



*   **Series:** Array de una dimensión.
*   **DataFrame:** Se corresponde con una tabla de 2 dimensiones.
*   **Panel:** Similar a un diccionario de DataFrames.

## Creación del objeto Series

In [3]:
# Creación de un objeto Series
s = pd.Series([2,4,6,8,10])
s

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [5]:
# Creación de un objeto Series inicializándolo con un diccionario de Python
altura = {"Santiago": 187, "Pedro": 178, "Julia": 170, "Ana": 165}
s = pd.Series(altura)
s

Santiago    187
Pedro       178
Julia       170
Ana         165
dtype: int64

In [7]:
# Creación de un objeto Series inicializándolo con algunos
# de los elementos de un diccionario de Python
altura = {"Santiago": 187, "Pedro": 178, "Julia": 170, "Ana": 165}
s = pd.Series(altura, index = ["Pedro", "Julia"])
s

Pedro    178
Julia    170
dtype: int64

In [8]:
# Creación de un objeto Series inicializandolo con un escalar
s = pd.Series(30, ["test1", "test2", "test3"])
s

test1    30
test2    30
test3    30
dtype: int64